.btn-primary {
  background-color: #ffffff;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;
  margin: 0;
  outline: none;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow 0.2s, -ms-transform 0.1s, -webkit-transform 0.1s,
    transform 0.1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.btn-primary:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow 0.2s;
}

.btn-primary:active {
  background-color: #f7f7f7;
  border-color: #000000;
  transform: scale(0.96);
}

.btn-primary:disabled {
  border-color: #dddddd;
  color: #dddddd;
  cursor: not-allowed;
  opacity: 1;
}

.btn-navbar-type,
.add,
.edit,
.delete {
  background-color: #ffffff;
  border: 1px solid #222222;
  border-radius: 6px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;
  margin: 0 5px 0;
  outline: none;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow 0.2s, -ms-transform 0.1s, -webkit-transform 0.1s,
    transform 0.1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.btn-navbar-type:focus-visible,
.add:focus-visible,
.edit:focus-visible,
.delete:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow 0.2s;
}

.btn-navbar-type:active,
.add:active,
.edit:active,
.delete:active {
  background-color: #f7f7f7;
  border-color: #000000;
  transform: scale(0.96);
}

.btn-navbar-type:disabled,
.add:disabled,
.edit:disabled,
.delete:disabled {
  border-color: #dddddd;
  color: #dddddd;
  cursor: not-allowed;
  opacity: 1;
}
.btn-navbar-type:hover,
.add:hover,
.edit:hover,
.delete:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  border: 1px solid #000000;
  background-color: #0066ff;
  color: #f7f7f7;
  transform: translateY(-2px);
}
.add:hover {
  background-color: #1fae51;
}
.edit:hover {
  background-color: #23272b;
}
.delete:hover {
  background-color: #d72503;
}

.btn-type2 {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1a1a1a;
  border-radius: 15px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.btn-type2:disabled {
  pointer-events: none;
}

.btn-type2:hover {
  background-color: #3079e7;
  border-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.288) 0 8px 15px;
}

.btn-type2:active {
  box-shadow: none;
  transform: translateY(0);
}

.btn-large {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  padding: 16px 24px;
}

.btn-normal {
  font-size: 12px;
  font-weight: 600;
  line-height: 12px;
  padding: 12px 18px;
}
